<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css')}}">
    <title>Edit One</title>
</head>
<body>
    <nav>
        <a href="/">TO HOME!</a>
    </nav>
    <div class="box">
        <h1>EDIT USER {{ user.id }}</h1>
        <form action="/user/update" method="POST">
            <input type="hidden" name="id" value={{user.id}}>
            <input type="text" name="first_name" placeholder="{{ user.first_name }}">
            <input type="text" name="last_name" placeholder="{{ user.last_name }}">
            <input type="text" name="email" placeholder="{{ user.email }}">
            <input type="submit" value="UPDATE User">
        </form>
    </div>
</body>
</html>